%div.container.page-header
  %br
  %br
  %div.row.text-center.well
    %h2 404
    %hr
    %p
      This is a classical
      %strong 404
      \.
    %p There is not much to see here. Best thing is you
    %a.btn.btn-default{:href => '/'} Go home
